{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon"
              href="/static/img/favicon.ico"
              type="image/x-icon">
        <title>{{ template "title" . }}</title>
    </head>
    <body>
        <header>
            <h1>
                <a href="/">Mini Message Board</a>
            </h1>
        </header>
        {{ template "nav" . }}
        <main>
            {{ template "main" . }}
        </main>
        <footer>
            Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}
        </footer>
    </body>
</html>
{{ end }}
